body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

.top-bannar {
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}

h1 {
    margin-top: 100px;
    font-size: 40px;
}

.orange-color {
    color: orange;
}

.flexible-container {
    display: flex;
    padding-left: 2%;
    margin-bottom: 100px;
}

.half-width {
    width: 50%;
}

.half-width img {
    padding-top: 50px;
    width: 80%;
    padding-left: 80px;
}

.link-button {
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    padding: 10px 40px;
    font-weight: 700;
    color: white;
    border-radius: 5px;
}

.big-drime {
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
    padding-bottom: 176px;
}

.exparience-items {
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    padding: 10px 0px 50px 30px;
    box-shadow: 10px 10px 40px grey;
}

.exparience-area {
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}

#slide-area-1 {
    border-left: 7px solid;
    border-image: linear-gradient(orange, tomato);
    border-image-slice: 1;
}

#slide-area-2 {
    border-left: 7px solid;
    border-image: linear-gradient(blue, cyan);
    border-image-slice: 1;
}

footer p {
    text-align: center;
}