body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

.top-bannar {
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}

h1 {
    font-size: 40px;
}

.orange-color {
    color: orange;
}

section {
    display: flex;
    padding-left: 2%;
    margin-bottom: 100px;
}

.half-width {
    width: 50%;
}

.half-width img {
    padding-top: 50px;
    width: 80%;
    padding-left: 80px;
}

.link-button {
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    padding: 10px 40px;
    font-weight: 700;
    color: white;
    border-radius: 5px;
}

.big-drime {
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
    padding-bottom: 176px;
}